.lanyard-wrapper {
    position: relative;
    z-index: 0;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    transform: scale(1);
    transform-origin: center;
    overflow: hidden;
    background: transparent;
}

@media (max-width: 768px) {
    .lanyard-wrapper {
        min-height: 50vh;
    }
}